*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    background-color: #5f7c8a;
}

form{
    background-color: white;
    max-width: 500px;
    width: 70;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}